<!-- the templating engine replace these variables marked with the curly braces with their actual values that come from the node server -->
<!-- have to update the ./site/ because in server.js our files are being served from that location  -->

<h1>{{caption}}</h1>
<img src='./site/images/skimountain.jpg' alt='ski mountain' />